/* Overlay cobrindo 100% da tela */
#loading_screen {
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--azul_two);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  gap: 1rem;
  user-select: none;
  transition: opacity 1s ease, visibility 1s;
}

.loading_logo {
  user-select: none;
  max-width: 50px;
  animation: girar 3s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  user-select: none;
  display: block;
  --height-of-loader: 4px;
  --loader-color: #0071e2;
  width: 130px;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: var(--azul_tree);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--amarelo_tree);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 2s ease-in-out infinite;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
