/* CORES */
:root {
    --azul_one: #003F7C;
    --azul_two: #002147;
    --azul_tree:#0068DF;
    --azul_four:#5995FF;

    --offwhite: #EDEBE6;
    --white: #ffff;
    
    --amarelo_one: #FC8A18;
    --amarelo_two: #FF9A00;
    --amarelo_tree:#FFC033;

    --light: "Verlag-Light";
    --bold: "Verlag-Bold";
    --black: "Verlag-Black";
}

/* FONTES */
@font-face {
  font-family: "Verlag-Light";
  src: url("../fonts/Verlag-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verlag-Bold";
  src: url("../fonts/Verlag-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verlag-Black";
  src: url("../fonts/Verlag-Black.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--offwhite);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

