/* CORES */
:root {
    --azul_one: #003F7C;
    --azul_two: #002147;
    --azul_tree:#0068DF;
    --azul_four:#5995FF;

    --offwhite: #EDEBE6;
    --white: #ffff;
    
    --amarelo_one: #FC8A18;
    --amarelo_two: #FF9A00;
    --amarelo_tree:#FFC033;

    --light: "Verlag-Light";
    --bold: "Verlag-Bold";
    --black: "Verlag-Black";
}

/* FONTES */
@font-face {
  font-family: "Verlag-Light";
  src: url("/assets/fonts/Verlag-Light.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verlag-Bold";
  src: url("/assets/fonts/Verlag-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verlag-Black";
  src: url("/assets/fonts/Verlag-Black.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--offwhite);
}

/* NOSSOS CURSOS */
#container_sessao_hero{
  display: flex; /*a sessão e seus filhos são flexiveis*/
  justify-content: center; /* centraliza horizontal */
  align-items: center;   /* centraliza vertical */
}
#container_sessao_hero img{ 
  max-width: 95%;  /* faz  aimagem fica rdo tamanho do container sempre */  
  height: auto; /*aplica uma borda arrendodada*/
  border-radius: 30px; /*aplica uma borda arrendodada*/
}


/* NOSSOS CURSOS */

.bar {
  margin: 5rem auto 0 auto;
  margin-top: 10rem;

  background-color: var(--amarelo_tree);
  padding: 5px 5px;
  width: 20%;
  min-height: 5px;
}

#container_nossos_cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title_cursos {
  margin-top: 10rem;

  font-family: var(--black);
  font-size: 45px;
  color: var(--azul_one);

  border-bottom: 10px solid var(--amarelo_tree);
}

.subtitle_cursos {
  margin-top: 5rem;

  font-family: var(--light);
  font-size: 25px;
  color: var(--azul_two);

  background-color: #FFC033;
  display: inline-block;
  padding: 0rem 27rem;
  border-radius: 5px;
}

.cards_cursos {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
  align-items: center;
}

.curso_card {
  margin-top: 2rem;

  background-color: var(--azul_four);
  border-radius: 10px;

  padding: 5rem 9rem 5rem 9rem;   
}

.curso_card h1 {
  font-family: var(--black);
  color: var(--azul_one);

  font-size: 70px;
}

.curso_card h3 {
  font-family: var(--bold);
  color: var(--white);

  font-size: 40px;
  max-width: 500px;
}

.curso_card p {
  font-family: var(--light);
  color: var(--white);

  font-size: 20px;
  max-width: 500px;
}

.livros {
  max-width: 120px;
}

/* Responsividade para Monitores */
@media screen and (min-width: 1920px) {
  #container_nossos_cursos {
    max-width: 2400px;
  }

  .curso_card {
  margin-top: 2rem;

  background-color: var(--azul_four);
  border-radius: 10px;

  padding: 5rem 10rem 5rem 10rem;
}

}

/* Responsividade para Mobile */
@media (min-width: 320px) and (max-width: 1000px) {
   .bar {
    margin-top: 6rem;
    width: 30%;
  }

  .title_cursos {
    margin-top: 6rem;
    font-size: clamp(2rem, 4vw, 2rem);
    text-align: center;
    border-bottom-width: 6px;
  }

  .subtitle_cursos {
    margin-top: 1.5rem;

    font-family: var(--light);
    color: var(--azul_two);
    background-color: #FFC033;

    display: inline-block;
    text-align: center;
    padding: 0.8rem 5rem;

    min-width: auto;
    max-width: 95vw;

    font-size: clamp(0.9rem, 2vw, 1.2rem);
  }

  .cards_cursos {
    width: 100%;
    padding: 0 80rem;
    gap: 20px;
  }

  #container_nossos_cursos {
    gap: 20px;
    max-width: 100%;
  }
}
